/* google fonts
font-family: 'Roboto', sans-serif;
*/

/* general stylings */
body{
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

p{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


/* content class stylings */
.content{
  margin-top: 5.5em;
}

.content h1{
  padding: 0.75em;
  text-align: center;
}


/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden; /* means anything outside of the navbar div is clipped */
  background-color: #009fb7;
  padding: 1em 0; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99; /* z-index determines how 'in or out' an element will be. The lower, the more to the back it will be, and vice versa. */
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: #201d1e;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

/* Style the logo */
#navbar #logo {
  font-size: 30px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar-left{
  padding-left: 20%;
}

/* Links on mouse-over */
#navbar a:hover {
  background-color: #9880CE;
  color: #201d1e;
}

/* Style the active/current link */
#navbar a.active {
  background-color: #7251BC;
  color: #201d1e;
}

/* Display some links to the right */
#navbar-right { /* note that this floats the div, not the links in the navbar-right div. */
  float: right;
  padding-right: 20%;
}


/* home page stylings */
#main{
  height: 500px;
  background-image: linear-gradient(#009fb7,#74d5dd);
  padding-left: 20%;
  padding-right: 20%;
}

#main p{
  text-align: justify;
}

#main img{
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#home-tech{
  height: 500px;
  background-color: #BFC1C2;
  padding-left: 20%;
  padding-right: 20%;
  border-top: solid #7660b2 0.625em;
}

#home-tech p{
  text-align: center;
}

#tech-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 20px;
}

#tech-grid img{
  width: 50%;
}


/* footer stylings */
#footer{
  background-color: #272727;
  overflow: hidden;
  color: #74D5DD;
  padding: 1em;
}

#footer-right{
  float: right;
}

#footer-left{
  float: left;
}
